@charset "utf-8";
/* CSS Document */
*:focus{outline:none;}
input{ line-height:normal;}
body a,.tm{
-webkit-transition: all .2s linear;
transition: all .2s linear;
cursor:pointer;
}
input,select,textarea,div{FONT-FAMILY:'Microsoft YaHei';}
body {margin:0px;font-size: 12px;background: #ffffff;	color: #2b2b2b;}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #666666;}
ul,li,tr,td,dl,dt,dd{list-style-type:none;margin:0px;padding:0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#ff0000;}
.huang,.huang a{ color:#faaf19;}
.lan,.lan a{ color:#2293d1;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}
.hui a:hover{color:#fff;}
.bai a:hover{color:#d08798;}
.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.cu{ font-weight:bold;}
.xi{ font-weight:lighter;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:1000px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}
.flexslider { position: relative; height:418px; overflow: hidden; background: url(../images/loading.gif) 50% no-repeat; margin-bottom:25px;}
.slides { position: relative; z-index: 1;}
.slides li { height:50%;}
.flex-control-nav { position: absolute; bottom: 10px; z-index: 2; width: 100%; text-align: center; margin-left:-38px;}
.flex-control-nav li { display: inline-block; width: 14px; height: 14px; margin: 0 5px; *display: inline; zoom: 1;}
.flex-control-nav a { display: inline-block; width: 14px; height: 14px; line-height: 40px; overflow: hidden; background: url(../images/dot.png) right 0 no-repeat; cursor: pointer;}
.flex-control-nav .flex-active { background-position: 0 0;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a { text-decoration:none; display: block; width: 40px; height: 48px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8);  background:url(../images/arr.png) no-repeat; text-indent:-999em}
.flex-direction-nav .flex-prev { left: -50px; background-position:0 0 }
.flex-direction-nav .flex-next { right: -50px; background-position:-132px 0}
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px;}
.flexslider:hover .flex-next { opacity: 0.7; right: 10px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default;}
.con3s img,.page4xcs img,.page4xrc img,.cs img,.cs img,.cs img,.cs img,.cs img,.cs img,.cs img{
-webkit-transform: scale(1, 1);
-moz-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1);
-webkit-transition-duration: 500ms;
-moz-transition-duration: 500ms;
-o-transition-duration: 500ms;
transition-duration: 500ms;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out; cursor:pointer;
}
.con3s img:hover,.page4xcs img:hover,.page4xrc img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover{
-webkit-transform: scale(1.08, 1.08);
-moz-transform: scale(1.08, 1.08);
-ms-transform: scale(1.08, 1.08);
-o-transform: scale(1.08, 1.08);
transform: scale(1.08, 1.08);
-webkit-transition-duration: 500ms;
-moz-transition-duration: 500ms;
-o-transition-duration: 500ms;
transition-duration: 500ms;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.tm:hover{opacity:0.85; filter:alpha(opacity=85);}
.cur{ cursor:pointer;}
.xiahuaxian{ text-decoration:underline;}
.shanchuxian{ text-decoration:line-through;}
.mengban{ display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:9999990;}
/*页面*/
.top{ background:#242424; height:80px; line-height:80px;}
.topl{ padding-left:70px;}
.topr li{ float:left; padding-right:20px;}
.topr{ padding-right:50px;}
.menu{ height:40px; line-height:40px; background:rgba(0,0,0,0.5); position:absolute; left:50%; top:80px; margin-left:-500px; z-index:2;}
.menu li{ float:left; width:16.66%;}
.menu ul{ width:90%; margin:0 auto;}
.con1{ line-height:50px; padding-top:10px;}
.con2{ line-height:24px; height:40px;}
.con3 li{ float:left; width:212px; border:2px solid #dedede;box-shadow:0px 10px 15px #d0cdcd; margin:0 0 30px 27px;}
.con3s{ padding-top:12px;}
.con3x{ width:70px; height:24px; line-height:24px; background:#a8a8a8;border-radius:24px; margin-bottom:10px;}
.con3x a{ display:block;}
.con3x a:hover{ background:#9a344c;}
.con3c{ line-height:46px;}
.foot{ line-height:40px; height:40px; background:#b2b2b2;}
.page1{ height:680px; background:url(../images/page1_02.jpg);}
.page1l{ width:310px; padding:0 35px; background:rgba(255,255,255,0.5); height:680px;}
.page1s{ line-height:66px; height:66px; border-bottom:2px solid #000000; margin-top:55px;}
.page1c{ text-indent:2em; line-height:30px; padding:16px 0; border-bottom:2px solid #000000;}
.page1x{ width:154px; height:50px; line-height:50px; background:rgba(0,0,0,0.4);border-radius:50px; margin-top:20px;}
.page3{ width:930px; margin:70px auto 30px auto;}
.page3l{ width:290px; min-height:580px; background:#dbdbdb;}
.page3ls{ line-height:60px; padding-top:10px; border-bottom:1px solid #000; width:227px;}
.page3lx li{ line-height:40px; margin:20px auto 0 auto; border-bottom:1px solid #b2b2b2; width:227px;}
.page3r{ width:620px; min-height:580px; background:#dbdbdb;}
.page3rs{ line-height:60px; padding-top:10px; border-bottom:1px solid #000; width:550px;}
.page3rx{ line-height:38px; text-indent:2em; width:550px; padding:26px 0;}
.page4{ width:916px; margin-bottom:30px;}
.page4s{ line-height:75px; margin-top:45px;}
.page4xl{ width:200px; min-height:520px; background:#dbdbdb;}
.page4xl li{ line-height:54px; border-bottom:1px solid #b2b2b2; width:160px; margin:0 auto;}
.page4xl ul{ margin-top:10px;}
.page4xc{ width:496px; min-height:520px; background:#dbdbdb; margin-left:10px;}
.page4xr{ width:200px; min-height:520px; background:#dbdbdb;}
.page4xcs{ width:467px; height:252px; background:#fff; text-align:center; margin-top:17px;box-shadow:0px 5px 5px #666;}
.page4xcs img{ margin-top:18px;}
.page4xcc{ line-height:46px; border-bottom:1px solid #000; width:467px;}
.page4xcx{ line-height:22px; text-indent:2em; width:467px; padding-top:10px;}
.page4xrs{ line-height:62px; border-bottom:1px solid #b2b2b2; width:160px; margin-top:2px; margin-bottom:14px;}
.page4xrx{ line-height:42px; border-bottom:1px solid #b2b2b2; width:160px; margin-bottom:25px;}
